[individual]

# space separated event types to consider 
evttypes = 1 2 3 4 5

# directory containing the visualization data files 
mpl_data_dir = visual_output

# location of the training data
training_data_dir = data/mc.linearq2

# input training data file names
training_fin_template = evttype{0}.train.csv


# input matplotlib data file names
scatter_fin_template = evttype{0}.scatter.csv
kde2d_fin_template = evttype{0}.kde2d.csv
kde1dx_fin_template = evttype{0}.kde1dx.csv
kde1dy_fin_template = evttype{0}.kde1dy.csv

# output pdf file names
kde2d_fout_template = evttype{0}.kde2d.pdf
kde1dx_fout_template = evttype{0}.kde1dx.pdf
kde1dy_fout_template = evttype{0}.kde1dy.pdf

# whether to make scatter plot
plot_scatter = 1

# whether to save the pdf output files
save_fig = 0




[stacked]

# location of the test data
test_data_dir = data/mc.linearq2
test_fin = test.csv

# directory containing the visualization data files 
mpl_data_dir = visual_output

# input matplotlib data file names
x_fin = stacked.x.csv
y_fin = stacked.y.csv

# output pdf file names
optimized_stacked_x_fout = optimized.stacked.x.pdf
optimized_stacked_y_fout = optimized.stacked.y.pdf
truth_stacked_x_fout = truth.stacked.x.pdf
truth_stacked_y_fout = truth.stacked.y.pdf
overlay_x_fout = overlay.x.pdf
overlay_y_fout = overlay.y.pdf

# space separated true component proportions. obtained by querying database 
true_proportions = 0.0080520 0.0142424 0.1160986 0.4358192 0.4257876

# space separated optimized component proportions. obtained by optimizer
#optimized_proportions = 0.006170570067491664 0.009890640674377867 0.09150723290853424 0.40226488900766755 0.49016666734192854
#optimized_proportions = 0.00784793  0.01414023  0.09470635  0.46788121  0.41542428
optimized_proportions = 0.00835856  0.01371174  0.09298631  0.4693918   0.41555159

# whether to plot the true proportion stack
plot_truth_stack = 1

# whether to save the pdf output files
save_fig = 0


