# Parameters for tuning runtime performance
# =========================================
max_leaf_size = 32768
rel_tol = 1e-6
abs_tol = 1e-8
cuda_device_number = 0
gpu_block_size = 128

# Parameters controlling I/O
# ==========================
#
# `precompute_component_densities` forms a kernel density estimator 
# for each training data file listed below. it then evaluates each 
# kde on each record of the test file. 

# directory containing both the training and test data
input_data_dir = data

# file name of the test data. 
input_sample_fname = 5.995.csv

# file name of the training data. one file for each component.
input_component_fnames = evttype1.train.output.csv evttype5.train.output.csv 

# file name to output precomputed kde values
out_kde_fname = cached_densities_evaluations.csv
out_weight_fname = cached_weights.csv

# decides whether the rows are sorted by their point coordinates 
# this is useful when a consistent row ordering is required across
# invocations of `precompute_component_densities`. 
sort_rows = true

# Parameters tuning the component KDEs
# ====================================

# Default: condor_mle_cvxnl_results_default.csv 

## sensitivity parameter for adaptive kernel densities
## setting to 0 is equivalent to fixed bandwidths.
#alphas = 0.0 0.0
#
## pilot bandwidth for adaptive densities.
## active only when alpha > 0.0. 
#pilot_bwxs = 0.183 0.093
#pilot_bwys = 0.136 0.046
#
## global bandwidth for kernel densities. 
#adapt_bwxs = 0.183 0.093
#adapt_bwys = 0.136 0.046

# 1: condor_mle_cvxnl_results_1.csv 

## sensitivity parameter for adaptive kernel densities
## setting to 0 is equivalent to fixed bandwidths.
#alphas = 0.0 0.0
#
## pilot bandwidth for adaptive densities.
## active only when alpha > 0.0. 
#pilot_bwxs = 0.183 0.093
#pilot_bwys = 0.136 0.046
#
## global bandwidth for kernel densities. 
#adapt_bwxs = 0.183 0.123
#adapt_bwys = 0.136 0.076

# 2: condor_mle_cvxnl_results_2.csv 

## sensitivity parameter for adaptive kernel densities
## setting to 0 is equivalent to fixed bandwidths.
#alphas = 0.0 0.0
#
## pilot bandwidth for adaptive densities.
## active only when alpha > 0.0. 
#pilot_bwxs = 0.183 0.093
#pilot_bwys = 0.136 0.046
#
## global bandwidth for kernel densities. 
#adapt_bwxs = 0.183 0.153
#adapt_bwys = 0.136 0.106

# 3/4/5: condor_mle_cvxnl_results_3/4/5.csv (1.07%)

## sensitivity parameter for adaptive kernel densities
## setting to 0 is equivalent to fixed bandwidths.
#alphas = 0.0 0.0
#
## pilot bandwidth for adaptive densities.
## active only when alpha > 0.0. 
#pilot_bwxs = 0.183 0.093
#pilot_bwys = 0.136 0.046
#
## global bandwidth for kernel densities. 
#adapt_bwxs = 0.183 0.158
#adapt_bwys = 0.136 0.111

# 6: condor_mle_cvxnl_results_6.csv

## sensitivity parameter for adaptive kernel densities
## setting to 0 is equivalent to fixed bandwidths.
#alphas = 0.0 0.0
#
## pilot bandwidth for adaptive densities.
## active only when alpha > 0.0. 
#pilot_bwxs = 0.183 0.093
#pilot_bwys = 0.136 0.046
#
## global bandwidth for kernel densities. 
#adapt_bwxs = 0.183 0.163
#adapt_bwys = 0.136 0.116

# 7/8/9: condor_mle_cvxnl_results_7/8/9csv

# sensitivity parameter for adaptive kernel densities
# setting to 0 is equivalent to fixed bandwidths.
alphas = 0.0 0.0

# pilot bandwidth for adaptive densities.
# active only when alpha > 0.0. 
pilot_bwxs = 0.183 0.093
pilot_bwys = 0.136 0.046

# global bandwidth for kernel densities. 
adapt_bwxs = 0.183 0.173
adapt_bwys = 0.136 0.126

